{% extends "myapp/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}

{% block title %}
    {{ title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
    </script>
{% endblock %}

{% block main %}

    <div id="container" class="container text-center">
        <br/>
        <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
        <i class="pending">Loading components...</i><br><br>
    </div>
    {% render_bundle 'main' %}

{% endblock %}
